<footer class="footer">
    <div class="container text-center">
      <a class="cc-facebook btn btn-link" href="https://www.linkedin.com" target="_blank">
        <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-github btn btn-link " href="https://github.com/clairewks" target="_blank">
        <i class="fa fa-github fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-instagram btn btn-link" href="https://wa.me/" target="_blank">
        <i class="fa fa-phone fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-twitter btn btn-link " href="https://google.com" target="_blank">
        <i class="fa fa-envelope fa-2x " aria-hidden="true"></i>
      </a>
    </div>
    <div class="text-center text-muted">
      <p>&copy; All rights reserved.
      </p>
    </div>
  </footer>